{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Alumni Association</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Alumni Assiosion</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'home' %}">Log out</a></li>
        <li><a href="{% url 'profile' %}"> Profile</a></li>
        <li><a href="{% url 'job_post' %}"> Post Job</a></li>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="login.html">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container">
        <div class="center">
        <h3> Post Event here </h3>
        </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Event Title</label>
        </div>
        <div class="input-field col s6">
          <input id="icon_telephone" type="text" class="validate">
          <label for="icon_telephone">Event Link</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="Job_Position" type="text" class="validate">
          <label for="Job_Position">Event Description</label>
        </div>
        <div class="input-field col s6">
          <input id="Job_Nature" type="text" class="validate">
          <label for="Job_Nature"> Event Place</label>
        </div>
      </div>
      <div class="row">
            <div class="input-field col s6">
            <input id="experience" type="text" class="validate">
            <label for="experience">Event Date</label>
            </div>
            <div class="input-field col s6">
            <input id="workplace" type="text" class="validate">
            <label for="workplace">Event Chife Guest</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="Educational_Requirement" type="text" class="validate">
                <label for="Educational_Requirement">Event Key Note</label>
            </div>
            <div class="input-field col s6">
                <input id="Required_Skill" type="text" class="validate">
                <label for="Required_Skill">Event Time</label>
            </div>
        </div>    
        <div id="div" class="row center">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
         </div>
      </div>
    </form>
  </div>
  </div>

    <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/js/init.js"></script>
  </body>
</html>
