{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Alumni Association</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Alumni Assiosion</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'home' %}">Log out</a></li>
        <li><a href="{% url 'profile' %}"> Profile</a></li>
        <li><a href="{% url 'job_post' %}"> Post Job</a></li>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="login.html">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container">
        <div class="center">
        <h3> Post Event here </h3>
        </div>
    {% block messages %}
      {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }} text-center"> 
                  <a class="close" data-dismiss="alert">×</a>
                  {{ message|safe }}
              </div>
          {% endfor %}
      {% endif %}
    {% endblock %}
  <div class="row">
    <form action="event_post" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
      <div class="row">
        <div class="input-field col s6">
          <input id="event_title" type="text" class="validate" name="event_title">
          <label for="evenet_title">Event Title</label>
        </div>
        <div class="input-field col s6">
          <input id="event_link" type="text" class="validate" name="event_link">
          <label for="event_link">Event Link</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="event_discription" type="text" class="validate" name="event_discription">
          <label for="event_discription">Event Description</label>
        </div>
        <div class="input-field col s6">
          <input id="event_place" type="text" class="validate"name="event_place">
          <label for="event_place"> Event Place</label>
        </div>
      </div>
      <div class="row">
            <div class="input-field col s6">
            <input id="event_date" type="date" class="validate" name="event_date">
            <label for="event_date">Event Date</label>
            </div>
            <div class="input-field col s6">
            <input id="event_guest" type="text" class="validate" name="event_guest">
            <label for="event_guest">Event Chife Guest</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="event_keynote" type="text" class="validate" name="event_keynote">
                <label for="event_keynote">Event Key Note</label>
            </div>
            <div class="input-field col s6">
                <input id="event_time" type="text" class="validate" name="event_time">
                <label for="event_time">Event Time</label>
            </div>
        </div>    
        <div class "row">
          <div class="input-field col s12">
              <input type="file" id="image" name="image">
          </div>
        </div>
        <div id="div" class="row center">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
         </div>
      </div>
    </form>
  </div>
  </div>

    <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/js/init.js"></script>
  </body>
</html>
