{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Alumni Association</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'home' %}" class="brand-logo">Alumni Association</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'registration' %}">Registration</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="login.html">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
    <div class="container ">
      <div class="row">
	{% block messages %}
      {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }} text-center"> 
                  <a class="close" data-dismiss="alert">×</a>
                  {{ message|safe }}
              </div>
          {% endfor %}
      {% endif %}
    {% endblock %}
        <div class="card center-align rounded credentialCard">
         <div id="login" class="col s12">
		  <form action='login' method="post">
		  {% csrf_token %}
		   <form class="col s12">
			<div class="form-container">
				<h3 class="teal-text">LogIn</h3>
				<div class="row">
					<div class="input-field col s12">
						<input id="username" type="text" class="validate" name="username">
						<label for="username">Username</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" type="password" class="validate" name="password">
						<label for="password">Password</label>
					</div>
				</div>
				<br>
				<center>
					<button class="btn waves-effect waves-light teal" type="submit" name="action">Login</button>
					<br>
					<br>
					<a href="#">Forgotten password?</a>
				</center>
			</div>
		</form>
		</div>
		</div>
	 </div>

   <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/js/init.js"></script>
</body>